<br />
<div class="boyahh-box col-xs-10 col-xs-offset-1">
	<h1> Enrolled</h1>
	<% current_user.enrolled_courses.each do |course| %>
		<h3 class="text-center>"<% course.title %></h3>
	<% end %>	
</div>	